- json = MultiJson.load @animal.import_json
- generations = @generations.to_words.capitalize
- title "#{generations} Generation Pedigree: #{link_name json}"
%p
  %strong
    %font{:size => "4"}
      - if !life_string(@animal).blank?
        #{link_name(json)}&nbsp;(#{life_string @animal})
      - else
        #{link_name(json)}

%p
  %font{:size => "3"}
    %strong #{generations} Generation Pedigree:
%font{:size => "1"}
  = render partial:"pedigree", locals:{animals:[@animal], generations:@generations+1, link:false}
%ul
  %li
    %font{:size => "2"}
      = link_to "Back to standard pedigree page", tollerdata_animal_path(@animal)
  - if @annotation
    %li
      %font{:size => "2"}
        = link_to "View stanard #{@generations}-generation pedigree", tollerdata_animal_pedigree_hip_path(@animal, @generations)
  - if @annotation != :hip
    %li
      %font{:size => "2"}
        = link_to "View #{@generations}-generation hip pedigree", tollerdata_animal_pedigree_hip_path(@animal, @generations)
  - if @annotation != :longevity
    %li
      %font{:size => "2"}
        = link_to "View #{@generations}-generation longevity pedigree", tollerdata_animal_pedigree_longevity_path(@animal, @generations)
%p
  = link_to "Return to home page", tollerdata_path
/ = debug json
