= form_for @animal_kennel do |f|
  - if @animal_kennel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@animal_kennel.errors.count, "error")} prohibited this animal_kennel from being saved:"
      %ul
        - @animal_kennel.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :animal_id
    = f.number_field :animal_id
  .field
    = f.label :kennel_id
    = f.number_field :kennel_id
  .actions
    = f.submit 'Save'
