= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :entity_id
    = f.text_field :entity_id
  .field
    = f.label :integer
    = f.text_field :integer
  .field
    = f.label :entity_type
    = f.text_field :entity_type
  .field
    = f.label :string
    = f.text_field :string
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :time
    = f.time_select :time
  .field
    = f.label :location_id
    = f.number_field :location_id
  .actions
    = f.submit 'Save'
