= form_for @person_kennel do |f|
  - if @person_kennel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person_kennel.errors.count, "error")} prohibited this person_kennel from being saved:"
      %ul
        - @person_kennel.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :person_id
    = f.number_field :person_id
  .field
    = f.label :kennel_id
    = f.number_field :kennel_id
  .actions
    = f.submit 'Save'
