= form_for @animal do |f|
  - if @animal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@animal.errors.count, "error")} prohibited this animal from being saved:"
      %ul
        - @animal.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :call_name
    = f.text_field :call_name
  .field
    = f.label :mother_id
    = f.number_field :mother_id
  .field
    = f.label :father_id
    = f.number_field :father_id
  .field
    = f.label :sex
    = f.text_field :sex
  .field
    = f.label :litter_id
    = f.number_field :litter_id
  .field
    = f.label :address_id
    = f.number_field :address_id
  .field
    = f.label :birth_id
    = f.number_field :birth_id
  .field
    = f.label :death_id
    = f.number_field :death_id
  .field
    = f.label :import_json
    = f.text_field :import_json
  .actions
    = f.submit 'Save'
