%h1 #{Breed}

%table
  %tr
    %th Name
    %th Mother
    %th Father
    %th Sex
    %th Birth
    %th Death
    %th
    %th
    %th

  - @animals.each do |animal|
    %tr
      %td
        = link_to display_name(animal), animal_path(animal)
      %td
        - if animal.mother
          = link_to display_name(animal.mother), animal_path(animal.mother)
      %td
        - if animal.father
          = link_to display_name(animal.father), animal_path(animal.father)
      %td= animal.sex
      %td= readable_date animal.birth
      %td= readable_date animal.death
      %td= link_to 'Show', animal
      %td= link_to 'Edit', edit_animal_path(animal)
      %td= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Animal', new_animal_path
