%p#notice= notice

/ = debug(@animal)
/ = debug(@animal.birth)
/ = debug(@animal.death)

%p
  %b Name:
  = display_name @animal
  - if life_string @animal
    = "(#{life_string @animal})"
- if mother
  %p
    %b #{Mother}:
    = link_to display_name(mother), animal_path(mother)
    - if life_string mother
      = "(#{life_string mother})"
- if father
  %p
    %b  #{Father}:
    = link_to display_name(father), animal_path(father)
    - if life_string father
      = "(#{life_string father})"
%p
  %b Sex:
  = @animal.sex
%p
  %b Litter:
  = @animal.litter_id
%p
  %b Address:
  = @animal.address_id
%div
  %p
    %b Import json:
    = @animal.import_json

= link_to 'Edit', edit_animal_path(@animal)
\|
= link_to 'Back', animals_path
