%p#notice= notice

%p
  %b Name:
  = @animal.name
%p
  %b Call name:
  = @animal.call_name
%p
  %b Mother:
  = @animal.mother_id
%p
  %b Father:
  = @animal.father_id
%p
  %b Sex:
  = @animal.sex
%p
  %b Litter:
  = @animal.litter_id
%p
  %b Address:
  = @animal.address_id
%p
  %b Birth:
  = @animal.birth_id
%p
  %b Death:
  = @animal.death_id
%p
  %b Import json:
  = @animal.import_json

= link_to 'Edit', edit_animal_path(@animal)
\|
= link_to 'Back', animals_path
