%p

  Welcome to the open database for Nova Scotia Duck Tolling
  Retriever pedigrees. This database consists entirely of
  information provided by end users.  The providers of this site
  hereby disclaim any liability for the accuracy or meaning of any
  such information provided in the site.  Users hereby agree to use
  or rely on such information solely at their own risk.

%p

  We provide no warranty, express or implied, as to the accuracy
  of any such information, and user agrees to hold the site
  operator or any successor or representative thereof harmless
  from any claim or liability or damage resulting from use of any
  information provided for any purpose, personal or commercial.

%p

  You are welcome to add information on dogs that are missing
  from the database, or to correct errors if you find them. The
  value of this database depends entirely on the quality of user
  input.

%p

  Please enter the registered name of the dog you wish to look up
  or add, WITHOUT TITLES (e.g. "Sylvan's Rusty Jones" or
  "Sandycove at Westerlea"), and then hit enter or press the
  "Search" button.  You may also enter a partial name or kennel
  name.

%p/

/ tollerdata_search_query

- if true
  = form_tag tollerdata_animals_path, method:"get" do
    %p
      = text_field_tag :query, nil, id:"tollerdata_search_query"
      = submit_tag "Search"
- else
  = form_for @search do |f|
    %p
      = f.text_field :query
      = f.submit "Search"

%p
  %a{:href => "login.asp?source=default.asp"} Click here to log in

%p Other options:
%ul
  %li
    %a{:href => "testbreed.asp"} View, edit or add test breedings
  %li
    %a{:href => "dbstats.asp"} View database statistics
  %li
    %a{:href => "editquery.asp"} Search for dogs based on callname, titles or other fields
  %li
    = link_to "Learn more about this site", :tollerdata_about
