%h1 Listing titles

%table
  %tr
    %th Registry
    %th Name
    %th Abbreviation
    %th Prefix
    %th
    %th
    %th

  - @titles.each do |title|
    %tr
      %td= title.registry_id
      %td= title.name
      %td= title.abbreviation
      %td= title.prefix
      %td= link_to 'Show', title
      %td= link_to 'Edit', edit_title_path(title)
      %td= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Title', new_title_path
