%p#notice= notice

%p
  %b Registry:
  = @title.registry_id
%p
  %b Name:
  = @title.name
%p
  %b Abbreviation:
  = @title.abbreviation
%p
  %b Prefix:
  = @title.prefix

= link_to 'Edit', edit_title_path(@title)
\|
= link_to 'Back', titles_path
