#dialog
  I'm a dialog

- json = MultiJson.load @animal.import_json
- title "Pedigree: #{link_name json}"
.title{"data-animal-id" => @animal[:id]}
  - if !life_string(@animal).blank?
    %span.name #{link_name(json)}
    %span.life (#{life_string @animal})
  - else
    #{link_name(json)}
  .credit
    = link_to "Tollerdata", "http://www.toller-l.org/tollerdata/pedigree.asp?ID=#{@animal[:id]}"
    via
    = link_to "Caninae", "https://github.com/smparkes/caninae"
#metadata
  %table
    - if @animal.call_name
      %tr
        %td.key Call name
        %td.value= @animal.call_name
    - if @animal.sex
      %tr
        %td.key Gender
        %td.value= @animal.sex.capitalize
    - if country(json)
      %tr
        %td.key Country of origin
        %td.value= country(json)
    - first_reg = true
    - @animal.registrations.each do |registration|
      %tr
        %td.key
          - if first_reg
            Registration
        %td.value
          = registration.registration_number
          - if registration.registry
            (#{registration.registry})
      
    - if registry(json) || registration_number(json)
      %tr
        %td.key Registration
        %td.value
          - if registration_number(json)
            = registration_number(json)
          - if registry(json)
            (#{registry(json)})
    - if breeder(json)
      %tr
        %td.key Breeder
        %td.value= breeder(json)
    - if owner(json)
      %tr
        %td.key Owner
        %td.value= owner(json)
    - if death_reason(json)
      %tr
        %td.key Cause Of Death
        %td.value
          = death_reason(json)
          - if addl_death_reason(json)
            (#{addl_death_reason(json)})
    - if !web_site(json).blank? && web_site(json) != "http://"
      %tr
        %td.key Web site
        %td.value
          = link_to web_site(json), web_site(json)
    = render partial:"tollerdata/clearances/clearance", locals:{condition: :hip, json:json}
    /
      - if hips(json)
        %tr
          %td.key Hip clearance
          %td.value= hips(json)
    - if eyes(json)
      %tr
        %td.key Eye clearance
        %td.value= eyes(json)
    - if heart(json)
      %tr
        %td.key Heart clearance
        %td.value= heart(json)
    - if elbows(json)
      %tr
        %td.key Elbow clearance
        %td.value= elbows(json)
    - if thyroid(json)
      %tr
        %td.key Thyroid clearance
        %td.value= thyroid(json)
    - if pra_test(json)
      %tr
        %td.key Optigen PRA
        %td.value= pra_test(json)
    - if cea_test(json)
      %tr
        %td.key CEA
        %td.value= cea_test(json)
    - if color(json)
      %tr
        %td.key Color
        %td.value= color(json)
    - if registration_number(json)
      %tr.ofa
        %td.key OFA results
        - if ofa
          %td.value Retrieved ....
        - else
          %td.value
            %span.fetch_ofa Retrieve OFA results

- if image(json)
  #image
    .container
      = link_to |
        image_tag(image(json), |
                  alt:"Photobucket - Video and Image Hosting", |
                  border:0), |
        "http://photobucket.com", target:"_blank" |
      %span.credit
        - if image_user(json)
          Image by:
          = image_user(json)
          / = link_to "[Click to edit image]", edit_tollerdata_animal_image_path(@animal)

%p
  %font{:size => "3"}
    %strong Pedigree:
- if true
  #prototype
    .individual
      .about
        .above
          .name
            %span
        .hr
        .below
          .titles
            %span
          .hips
            %span
          .heart
            %span
          .longevity
            %span
      .parents
        .father
        .space
        .mother

  .controls
    %span.generations
      %input#spinner
      %span.value
      Generations
    %span.hips_button
      %label
        %input{type:"checkbox"}
        Show hip certifications
    %span.heart_button
      %label
        %input{type:"checkbox"}
        Show heart certifications
    %span.longevity_button
      %label
        %input{type:"checkbox"}
        Show longevity

  .new_pedigree{"data-animal-id" => @animal[:id]}

- if false
  = render partial:"tollerdata/pedigree/pedigree", locals:{animals:[@animal], generations:4, link:false}

%ul
  %li
    %font{:size => "2"}
      = link_to "Toller Health", |
        tollerdata_animal_health_category_path(@animal, |
                                               Tollerdata::Health::Category.general_background) |
  %li
    %font{:size => "2"}
      = link_to "Siblings", tollerdata_animal_siblings_path(@animal)
  %li
    %font{:size => "2"}
      = link_to "Offspring", tollerdata_animal_offspring_index_path(@animal)
  %li
    %font{:size => "2"}
      %a{:href => "editdog.asp?ID=20561"} Edit information
  %li
    %font{:size => "2"}
      %a{:href => "editparent.asp?ID=20561"} Edit parents
  %li
    %font{:size => "2"}
      = link_to "View a 5-generation pedigree", tollerdata_animal_pedigree_path(@animal, 5)
  %li
    %font{:size => "2"}
      %a{:href => "verticalpedigree.asp?ID=20561"} View a vertical pedigree
  %li
    %font{:size => "2"}
      %a{:href => "coi.asp?ID=20561"} View genetic information
  %li
    %font{:size => "2"}
      %a{:href => "changehistory.asp?ID=20561"} View change history
%p
  = link_to "Return to home page", tollerdata_path
/ = debug json
