%h1 Listing achievements

%table
  %tr
    %th Title
    %th Event
    %th
    %th
    %th

  - @achievements.each do |achievement|
    %tr
      %td= achievement.title_id
      %td= achievement.event_id
      %td= link_to 'Show', achievement
      %td= link_to 'Edit', edit_achievement_path(achievement)
      %td= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Achievement', new_achievement_path
