!!!5
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : "Tollerdata"
    %meta{charset:"UTF-8"}
    = stylesheet_link_tag    "tollerdata/tollerdata", :media => "all"
    = javascript_include_tag "tollerdata"
    = csrf_meta_tags
  %body
    = yield
    %hr/
    %font{:size => "1"}
      Use of this site is subject to terms and conditions as expressed on the
      = succeed "." do
        = link_to "home page", tollerdata_path
%p/
%form#form2{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "POST", :name => "form2"}
  %p
    %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
    %input{:name => "encrypted", :type => "hidden", :value => "-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBRaRBzA23AhnsqL3WTL78v0syHVaVGv8I6roGrCIniz9LRh+hEAK61UZ03GHqKZ729pQP/Myrl3gfd7U2NSV5NCV5h4wi6x4wC0DjsRm1KpaSlhNKP8AABB4h5SKUwOixMVCybsOX8PV5fq+zkcoaDVppvarjYZ0GbSGiJtNOW3jELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIzG59ONyvCEiAgZhCHiR4vAJP3LdN13qBifJvXmuDms2lFiVmTX1VaaX+UvH4MyyFIlPjbWrVOXGjzTwaeal83wQPSKS9+2bzuwCpp4vefqW5qH/vuXCUVHLc9VsENrWpycGZnBVVyQ3KZ9fFamC2gOnTaLvj+CC/oUAeqJeeSSWOlT/vFzno6j8AGwpVWynnxdtuMzvM37c5Abq57jMppeoUOqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTExMTIxMjEyMjYzNlowIwYJKoZIhvcNAQkEMRYEFHe82QkUWSAiD4p+HmK8iii1cJL8MA0GCSqGSIb3DQEBAQUABIGAKnex1jIhQ9x8l1iJTmoSh9Ns9UCpulvMDHa08a32dG2NYwVdj+wfUj3PdrClQnYZe+WUXRy6tzZ/he5NRY0fXCYlqprFiuxmfxutIqXcfOaGu4vCCK6XX5I7RWIqQnerQf9e9LfeDbduClJPUXKv3LCPHoKuPSMbIxIDw8iMVxs=-----END PKCS7-----"}/
    %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image"}/
    %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
